<title>How to install Noogle</title>
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='help.css', _external=True) }}">

<div class="background">
	<div class="title">How to install Noogle?
	</div>
	<div style="height:20px"></div>
	<div class="instructions">With Python Script</div>

	<div style="height:70px"></div>
	<div class="step">Step 1</div>
	<div class="instructions">Download Repository</div>
	<div style="height:20px"></div>
	<a class="link" href="https://github.com/polgs/pti/releases/script.py">DOWNLOAD
	</a>

	<div style="height:70px"></div>
	<div class="step">Step 2</div>
	<div class="instructions">Unzip downloaded repository</div>
	<div style="height:20px"></div>
	

	<div style="height:70px"></div>
	<div class="step">Step 3</div>
	<div class="instructions">Execute main.py</div>

	<div style="height:70px"></div>
	<div class="step">Step 4</div>
	<div class="instructions">Open web beowser, go to http://127.0.0.1:8000 </div>
	<div style="height:15px"></div>
	<video width="50%" height="auto" autoplay loop>
	<source src="http://vidivd" type="video/webm">
<a href="http://bearddesign.s-ul.eu/zAZRSXcF">see how here</a>
</video>

	<div style="height:70px"></div>
	<div class="step">Step 5</div>
	<div class="instructions">Choose services to install</div>
	<div style="height:15px"></div>
	<video width="50%" height="auto" autoplay loop>
		<source src="http://bearddesign.s-ul.eu/5sK4BfdN" type="video/webm">
		<a href="http://vdvd">see how here</a>
	</video>

	<div style="height:70px"></div>
	<div class="step">Step 6</div>
	<div class="instructions">Fill in the necessary information</div>

	<div style="height:70px"></div>
	<div class="step">Step 7</div>
	<div class="instructions">Install</div>
	<div style="height:15px"></div>
	<video width="50%" height="auto" autoplay loop>
		<source src="http://vidvid" type="video/webm">
		<a href="http://vidvid">see how here</a>
	</video>

	<div style="height:70px"></div>
	<div class="step">Step 8</div>
	<div class="instructions">Noogle is set-up and ready to go!
	<div style="height:70px"></div>
</div>
	<a href="https://betterdiscord.net">

</a>
